{% extends 'base/base.html' %}
{% load staticfiles %}
{% block content %}
    <link href="{% static 'css/mycss/1.css' %}" rel="stylesheet">
    <section class="content-header">
		<h1>
            添加测试用例
        </h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>用例管理</a></li>
      <li class="active">添加用例</li>
		</ol>
	</section>

    <div style="padding: 100px 100px 10px; ">
    <form method="post" action="" role="form">
        <div>
            <select name="project_id" onchange="projectChange()" class="selectpicker"  data-style="btn-primary">
                {% for project in project_lists  %}
                    <option value="0">请选择</option>
                    <option value="{{ project.project_id }}">
                        {{ project.project_name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" style="background-color: #C1FFE4;">测试case</span>
                <input placeholder="请输入case名称" name="case_name" class="form-control" required >
        </div>

        <br>
        <div class="input-group">
            <span class="input-group-addon" style="background-color: #C1FFE4">测试人员</span>
                <input placeholder="请输入测试人员" name="user_name" class="form-control" required>
        </div>
        <span class="" style="text-align: center;display:block; padding: 20px"><button type="submit" class="btn btn-primary btn-lg " style="width: 200px">提交</button></span>
        {% csrf_token %}
    </form>
    </div>
{% endblock %}