{% extends 'base/base.html' %}

{% block content %}

	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			配置文件列表
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i>活动配置管理</a></li>
			<li class="active">配置文件列表</li>
		</ol>
	</section>



	<!-- Main content -->
	<section class="content">
    <div class="box table-responsive no-padding">
        <table class="table table-bordered layui-table-hover">
            <tbody>
            <tr>
                <th>文件名称</th>
                <th>操作</th>
            </tr>
            {% for ffile in lists %}
                <tr>
                <td>
                    {{ ffile }}
                </td>
{#                <td>#}
{#                    <a href="edit-suite.html?sid={{ ffile.name }}" class="btn btn-warning">#}
{#                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>#}
{#                        创建活动#}
{#                    </a>#}
{#                    <a href="delete-suite.html?sid={{ suite.suite_id }}" class="btn btn-danger">#}
{#                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>#}
{#                        创建奖励#}
{#                    </a>#}
{#                    <a href="run-test.html?sid={{ suite.suite_id }}" class="btn btn-success">#}
{#                        <span class="glyphicon glyphicon-random" aria-hidden="true"></span>&nbsp;#}
{#                        创建抽奖#}
{#                    </a>#}
{#                </td>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
	</section>

{% endblock content%}