{% load static %}
{% include 'base/menu-userinfo.html' %}
<ul class="sidebar-menu">
    <li class="header">
    </li>
    <div class="panel-group table-responsive" role="tablist">
        <div class="panel panel-info sidebar-menu">
            <div class="panel-heading" id="collapseListGroupHeadingProject" data-toggle="collapse" data-target="#collapseListGroupProject" role="tab">
                <h4 class="panel-title">

                    <a href="{% url 'home' %}"><span class="fa fa-home"></span>首页</a>
                </h4>
            </div>
        </div>

        <div class="panel panel-info sidebar-menu">
            <div class="panel-heading" id="collapseListGroupHeadingProject" data-toggle="collapse" data-target="#collapseListGroupProject" role="tab">
                <h4 class="panel-title">
                    <span class="fa fa-magic"></span>
                    项目管理
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-chevron-down right"></span>
                </h4>
            </div>
            <div id="collapseListGroupProject" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="collapseListGroupProject">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa fa-plus-square"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'add_project' %}">添加项目</a>
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-th-list"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'project_list' %}">项目列表</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel panel-info sidebar-menu">
            <div class="panel-heading" id="collapseListGroupHeadingSuite" data-toggle="collapse" data-target="#collapseListGroupSuite" role="tab">
                <h4 class="panel-title">
                    <span class="fa fa-adjust"></span>
                    测试集管理
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-chevron-down right"></span>
                </h4>
            </div>
            <div id="collapseListGroupSuite" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="collapseListGroupProject">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa fa-plus-square"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'add_suite' %}">添加测试集</a>
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-th-list"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'suite_list' %}">测试集列表</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="panel panel-info sidebar-menu">
            <div class="panel-heading" id="collapseListGroupHeadingCase" data-toggle="collapse" data-target="#collapseListGroupCase" role="tab">
                <h4 class="panel-title">
                    <span class="fa fa-adn"></span>
                    测试用例管理
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-chevron-down right"></span>
                </h4>
            </div>
            <div id="collapseListGroupCase" class="panel-collapse collapse"
                 role="tabpanel" aria-labelledby="collapseListGroupProject">
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa fa-plus-square"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'add_suite' %}">添加测试case</a>
                    </li>
                    <li class="list-group-item">
                        <span class="fa fa-th-list"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'suite_list' %}">测试case列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
        <script>
        $(function(){
            $(".panel-heading").click(function(e){
                /*切换折叠指示图标*/
                $(this).find("span").toggleClass("glyphicon-chevron-down");
                $(this).find("span").toggleClass("glyphicon-chevron-up");
            });
        });
        </script>
</ul>